.page[b-z68tsfbarx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-z68tsfbarx] {
    flex: 1;
}

.sidebar[b-z68tsfbarx] {
    background-image: linear-gradient(180deg, #ffde59 0%, #7ed957 16.67%, #004ad3 33.33%, #0cc0df 50%, #993399 66.67%, #ff3131 83.33%);
}

.top-row[b-z68tsfbarx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-z68tsfbarx]  a, .top-row[b-z68tsfbarx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-z68tsfbarx]  a:hover, .top-row[b-z68tsfbarx]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-z68tsfbarx]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-z68tsfbarx] {
        display: none;
    }

    .top-row.auth[b-z68tsfbarx] {
        justify-content: space-between;
    }

    .top-row[b-z68tsfbarx]  a, .top-row[b-z68tsfbarx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-z68tsfbarx] {
        flex-direction: row;
    }

    .sidebar[b-z68tsfbarx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

        .sidebar .navbar[b-z68tsfbarx] {
            background-image: linear-gradient(180deg, #ffde59 0%, #7ed957 16.67%, #004ad3 33.33%, #0cc0df 50%, #993399 66.67%, #ff3131 83.33%) !important;
        }

    .top-row[b-z68tsfbarx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-z68tsfbarx]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-z68tsfbarx], article[b-z68tsfbarx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .card[b-z68tsfbarx] {
        background-color: #e7f3fe;
        border-color: #b8daff;
        border-radius: .25rem;
        border-width: 1px;
        border-style: solid;
        padding: 1rem;
    }
}
