@page "/administrar-campanha"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@using DoaseApp.Shared.Classes;
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.WebUtilities;
@using static Microsoft.AspNetCore.WebUtilities.QueryHelpers

<link rel="stylesheet" href="/css/stylesheet.css" />

<h3 class="d-flex justify-content-center">Administrar Campanha</h3>

<div style="background-color: lightblue;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Title</h3>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-md-6 border">
                <p>Teste</p>
            </div>
            <div class="col-md-6 border">
                <p>Teste2</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 border">
                <p>Teste3</p>
            </div>
            <div class="col-md-6 border">
                <p>Teste4</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 border">
                <p>Teste5</p>
            </div>
            <div class="col-md-6 border">
                <p>Teste6</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 border">
                <p>Teste7</p>
            </div>
            <div class="col-md-6 border">
                <p>Teste8</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 border">
                <p>Teste9</p>
            </div>
            <div class="col-md-6 border">
                <p>Teste10</p>
            </div>
        </div>
    </div>
</div>




@code {
    
}

