@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.univag.com.br/destaques/1149/projeto-integrador-do-univag-desperta-o-empreendedorismo-nos-alunos/" target="_blank">Sobre</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
